
<section class="full-width pageContent" >
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__panel is-active" id="tabNewAdmin">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
                    <div class="full-width panel mdl-shadow--2dp">
                        <div class="full-width panel-tittle bg-primary text-center tittles">
                            ASIGNACION DE ACTIVIDADES A EMPLEADOS
                            
                        </div>
                        <div class="full-width panel-content"><br>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <h3 class="text-condensedLight">DISPONIBLES</h3>
                                    <div class=" tittles titulo-empleado">
                                        Haga Click sobre el empleado para asignar tarea
                                        
                                    </div>
                                    <div class="contenido-empleados">
                                        {{#if disponibles}}{{#each disponibles}}
                                       <div  id="{{this.Ced_Emp}}" onclick="asignacion(this)" onmouseover="inforElement(this.id+ ' Está disponible')">
                                            <img src="{{this.Img_Emp}}" alt="avatar" class="img-circle img-disp" style="height: 75px; width:75px;">
                                            <span class="mdl-radio__label">Horario {{this.Tur_Emp}}, Nombre: {{this.Nomb_Emp}}</span>                                          
                                        </div>
                                        <br><br>
                                        {{/each}}{{/if}}
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <h3 class="text-condensedLight">NO DISPONIBLES</h3>
                                    <div class="tittles titulo-empleado">
                                        Haga Click sobre el empleado para liberar de una tarea
                                    </div>
                                    <div class="contenido-empleados">
                                        {{#if noDisponibles}}{{#each noDisponibles}}
                                       <div  id="{{this.Ced_Emp}}" onclick="liberacion(this)" onmouseover="inforElement(this.id+ ' No esta disponible')">
                                            <img src="{{this.Img_Emp}}" class="img-circle img-ndisp" alt="avatar" style="height: 75px; width:75px;">
                                            <span class="mdl-radio__label">Horario {{this.Tur_Emp}}, Nombre: {{this.Nomb_Emp}}</span>  
                                        </div><br><br>
                                        {{/each}}{{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<div id='todosClientes' style="display:none">
    {{#if clientes}}{{#each clientes}}
        <option value="{{this.Ced_Cli}}" title="{{this.Ced_Cli}} {{this.Nomb_Cli}}">{{this.Ced_Cli}} {{this.Nomb_Cli}}</option>
    {{/each}}{{/if}}
</div>

<script src="../modular/scripts/validation.js"></script>
<script src="../modular/scripts/asignacion_actividades.js"></script>
<script type="text/javascript">
    var titulo = document.getElementById("title_static");
    if (titulo) {
        titulo.innerHTML = '<i class="zmdi zmdi-accounts"></i><span class="hide-on-tablet">&nbsp;ACTIVIDADES</span>'
    };
</script>


