<!-- empieza contenido de resumen-->
<section class="full-width pageContent">
	<section class="full-width text-center" style="padding: 40px 0;">
		<h3 class="text-center tittles">Resumen</h3>
		<!-- Tiles -->
		<article class="full-width tile">
			<div class="tile-text">
				<span class="text-condensedLight">
						<bdi class="fuente">{{Cant_usuarios}}</bdi><br>
						<small class="fuente">Usuarios</small>
					</span>
			</div>
			<i class="zmdi zmdi-account tile-icon"></i>
		</article>
		<article class="full-width tile">
			<div class="tile-text">
				<span class="text-condensedLight">
						<bdi class="fuente">{{Cant_clientes}}<bdi><br>
						<small class="fuente">Clientes</small>
					</span>
			</div>
			<i class="zmdi zmdi-accounts tile-icon"></i>
		</article>
		<article class="full-width tile">
			<div class="tile-text">
				<span class="text-condensedLight">
						<bdi class="fuente">{{Cant_empleados}}</bdi><br>
						<small class="fuente">Empleados</small>
					</span>
			</div>
			<i class="zmdi zmdi-accounts tile-icon"></i>
		</article>
		<article class="full-width tile">
			<div class="tile-text">
				<span class="text-condensedLight">
						<bdi class="fuente">{{Cant_reportes}}</bdi><br>
					<small class="fuente">Reportes</small></span>
			</div>
			<i class="zmdi zmdi-label tile-icon"></i>
		</article>
		<article class="full-width tile">
			<div class="tile-text">
				<span class="text-condensedLight">
						<bdi class="fuente">{{Cant_productos}}</bdi><br>
						<small class="fuente">Productos</small>
					</span>
			</div>
			<i class="zmdi zmdi-washing-machine tile-icon"></i>
		</article>
		<article class="full-width tile">
			<div class="tile-text">
				<span class="text-condensedLight">
						<bdi>{{Cant_ventas}}</bdi><br>
						<small class="fuente">Ventas</small>
					</span>
			</div>
			<i class="zmdi zmdi-shopping-cart tile-icon"></i>
		</article>
	</section>
	<section class="full-width" style="margin: 30px 0;">

		</div>
		</div>
	</section>
</section>