<section class="full-width pageContent">
	<div id="divTabla">
		<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
			<form action="#">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
					<label class="mdl-button mdl-js-button mdl-button--icon" for="searchPayment">
						<i class="zmdi zmdi-search"></i>
					</label>
					<div class="mdl-textfield__expandable-holder">
						<input class="mdl-textfield__input" type="text" id="searchPayment" validation="buscarTabla" event="keyup" TablaID="tblPersonas"
						 datos="0,1,3,4" placeholder=" Buscar">
						<label class="mdl-textfield__label"></label>
					</div>
					<a href="/admin/registro_empleado" title="Registrar nuevo empleado" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="text-decoration:none; color: #3F51B5;position:absolute; right: 23%;" >Nuevo Registro</a>
					<a href="/admin/asignar_empleados" title="Asignar nueva tarea" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="text-decoration:none; color: #3F51B5;position:absolute; right: 5%;" >Asignar Tareas</a>
				</div>
			</form>
			<div style="overflow-x:auto;height:510px;">
				<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width table-responsive" id="tblPersonas" >
					<thead>
						<tr>
							<th style="text-align: left;">Cédula</th>
							<th style="text-align: left;">Nombre</th>
							<th style="text-align: left;">Teléfono</th>
							<th style="text-align: center;">Turno</th>
							<th>
								<center>Opción</center>
							</th>
							<th style="display:none">URL</th>
						</tr>
					</thead>
					<tbody id="contenidoTabla">
						{{#if usuarios}}{{#each usuarios}}
						<tr>
							<td id="{{this.Img_Emp}}" style="text-align: left;">{{this.Ced_Emp}}</td>
							<td style="text-align: left;">{{this.Nomb_Emp}}</td>
							<td style="text-align: left;">{{this.Telf_Emp}}</td>
							<td id="{{this.Estd_Emp}}" style="text-align: center;">{{this.Tur_Emp}}</td>
							<td>
								<div>
									<center>
									<button title="Más Informacion" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" validation="infoEmpleado" event="click"><i style="color:#FF9800" class="zmdi zmdi-info"></i></button>&nbsp;&nbsp;&nbsp;
									<button title="modificar" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" validation="editEmpleado" event="click"><i style="color:#3f51b5" class="zmdi zmdi-edit"></i>
									</button>&nbsp;&nbsp;&nbsp;<button validation="deleteEmpleado" event="click" id="borrarClient" title="borrar" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i style="color:#B71C1C" class="zmdi zmdi-delete"></i></button>
									</center>
								</div>
							</td>
						</tr>
						{{/each}} {{else}}
						<tr>
							<td colspan="6">
								<center>No hay datos para mostrar</center>
							</td>
						</tr>
						{{/if}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
<script src="../modular/scripts/empleados.js"></script>
<link rel="stylesheet" href="../modular/estilos/empleados.css">
{{#if success_msg }}
	<input id="inputsucces" type="hidden" value="{{success_msg}}">
    <script type="text/javascript">
	    input = document.getElementById("inputsucces").value || "Accion realizada con éxito"
	    msgModal(input,'success',null);
    </script>
{{else if  error_msg }}
	<input id="inputError" type="hidden" value="{{error_msg}}">
    <script type="text/javascript">
	    input = document.getElementById("inputError").value || "Error inesperado"
	    msgModal(input,'error',"retroceder");
    </script>
{{/if}}
<script type="text/javascript">
	var titulo = document.getElementById("title_static");
	if (titulo) {
		titulo.innerHTML = '<i class="zmdi zmdi-account"></i><span class="hide-on-tablet">&nbsp; EMPLEADOS</span>'
	};
</script>